[submodule "external/freetype2"]
	path = external/freetype2
	url = https://git.savannah.nongnu.org/git/freetype/freetype2.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
